div {
	/*position: relative;*/
	padding: 12px;
	/*background: #eee;*/
	color: #000;
	/*border: solid 1px #aaa;*/
	border-radius: 4px;
}

div#wybor {
	position: absolute;
	top: 20px;
	left: 20px;
}

div#demografia {
	position: absolute;
	width: 215px;
	height: 160px;
	top: 20px;
	right: 20px;
}

div#adres {
	position: absolute;
	top: 90px;
	left: 20px;
	width: 500px;
}

div#plakietki {
	position: absolute;
	top: 40px;
	left: 550px;
	width: 180px;
}

div#wskazniki {
	position: absolute;
	top: 230px;
	left: 20px;
}

div#porownania {
	position: absolute;
	top: 550px;
	left: 500px;
}

div#porownania_paski_hum {
	position: absolute;
	top: 230px;
	left: 500px;
}

div#porownania_paski_mp {
	position: absolute;
	top: 230px;
	left: 750px;
}

div#w_czasie {
	position: absolute;
	top: 580px;
	left: 20px;
}

.pasek {
	opacity: 0.5;
}

.pasek:hover {
	opacity: 1;
}

span.plakietka {
	padding: 2px;
	background: #aea;
	color: #000;
	border: solid 1px #6b6;
	border-radius: 2px;
}

.sciezka_hum {
	fill: coral;
	opacity: 0.5;
}

.sciezka_mp {
	fill: steelblue;
	opacity: 0.5;
}

div.tooltip
{
	position: absolute;
	text-align: left;
	padding: 8px;
	font: 12px sans-serif;
	background: #000;
	color: #ddd;
	border: solid 1px #aaa;
	border-radius: 4px;
	pointer-events: none;
}
